# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) Built-In Functions <br>

 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
10) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [3]:
number = 6
print(number)
x = 4
y = 7
print(x)
print(y)

6
4
7

##### Assigning float

In [4]:
num_float = 3.5
print(num_float)

3.5

#### Performing Calculations on ints and floats

##### Addition

In [6]:
x = 4
y = 5
sum = x + y
print(sum)

9

Subtraction

In [5]:
x = 14
y = 5
sub = x - y
print(sub)

9

##### Multiplication

In [14]:
x = 4
y = 5.5
mul = x * y
print(float(mul))

print(mul *2)

22.0
44.0

##### Division

In [16]:
x = 24
y = 5
divi = x / y
print(divi)
divi /= 2

print(divi)

4.8
2.4

##### Floor Division

In [17]:
num1 = 5
num2 = 2

floored = num1 // num2
print(floored)

2

In [20]:
num1 = 5
num2 = 2

quotion = num1 / num2
print(quotion)

2.5

##### Modulo

In [22]:
num1 = 6
if num1 % 2 == 0:
    print("even")
else:
        print("odd")

even

##### Exponential

In [25]:
square = 5**2
print(square)

square**=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [27]:
name = "Dharti"

dog = "chow chow"
print(name)
print(dog)

Dharti
chow chow

##### print() <br>
<p>Don't forget about end=' '</p>

In [30]:
print("Hello", name)

print("Full name ", name, end="Patel")

Hello Dharti
Full name  DhartiPatel

##### String Concatenation

In [38]:
firstname = "Dharti"
lastname = "Patel"
print(firstname+ " " + lastname)

fullname = firstname+ " " + lastname + "."
print(fullname)

fullname += " Jedi Master"
print(fullname)

Dharti Patel
Dharti Patel.
Dharti Patel. Jedi Master

##### Type Conversion

In [39]:
x = 12
print(type(x))
name = "Dharti"

num_str = "15"

y = 1.45
print(type(y))
new_x = str(x)
new_y = str(y)

print(type(new_x))
print(type(new_y))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

##### input()

In [40]:
age = int(input("How old are you"))

print("Your age is ",age)

age +=1

How old are you15
Your age is  15

In [41]:
print(age)

16

##### format()

In [46]:
age = int(input("How old are you: "))
name = input("What is your name: ")

result = "You are {} years old, {} and you are getting wiser!".format(age,name)
print(result)

result_again = f"{age} is a grate time in life"
print(result_again)

How old are you: 15
What is your name: vfyu
You are 15 years old, vfyu and you are getting wiser!
15 is a grate time in life

##### Old Way (python 2)

In [49]:
result_string2 = "You are %s and you look great for your age!"%age
print(result_string2)

You are 15 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for a car's color, year, make, model and prints out the results</p>

In [52]:
color = input("Which is your car color? ")
year = input("Which year is your car made? ")
make = input("What make is your car? ")
model = input("What is the model of your car? ")

result = "You car is a {} {} {} {}".format(color, year, make, model)
print(result)

Which is your car color? sd
Which year is your car made? dssd
What make is your car? dsf
What is the model of your car? sfsd
You car is a sd dssd dsf sfsd

In [54]:
color = input("Which is your car color? ")
year = input("Which year is your car made? ")
make = input("What make is your car? ")
model = input("What is the model of your car? ")

result = f"You car is a {color} {year} {make} {model}"
print(result)

Which is your car color? dsd
Which year is your car made? dds
What make is your car? dss
What is the model of your car? dfsdf
You car is a dsd dds dss dfsdf

In [ ]:
color = input("Which is your car color? ")
year = input("Which year is your car made? ")
make = input("What make is your car? ")
model = input("What is the model of your car? ")

print(f"Your car is a {color} {model} {make} is made in {year}")

### If Statements

In [59]:
number1 = 10
number2 = 5

if number1 == number2:
    print("number are same")
else:
    print("number are not same")
    
    
if number1 == number2:
    print(number1,"is equal to",number2)
elif number1 <= number2:
    print(number1,"is less then", number2)
else:
    print(number1,"is greter then",number2)

number are not same
10 is greter then 5

##### 'is' keyword

In [61]:
num1 = 60
num2 = 56

if num1 is num2:
    print("same")
else:
    print("Not same")

Not same

##### 'in' keyword

In [62]:
char = "Dharti Patel"
if "h" in char:
    print("Beautiful")
else:
    print("not here")

Beautiful

##### 'not in' keyword'

In [63]:
sega_char = "sonic"
sega_char2 = "sanic"

if "a" not in sega_char:
    print("Not saaaanic")
else:
    print("Saanic")

Not saaaanic

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>
<p>Check for case sensitivity</p>

In [66]:
str = input("Enter you string: ")

if "p" in str.lower() or "p" in str.upper():
    print("Sting has p letter init")
else:
    print("String don't have p letter init")

Enter you string: jdiuhdhhfd
String don't have p letter init

## Using 'and'/'or' with If Statements

In [68]:
n1 = 15
n2 =3
n3 =10
n4 = 4

if n1 / 5 == n2 and n3 - 7 == n4:
    print("true")
else:
    print("false")
    

if n1 / 5 == n2 or n3 - 7 == n4:
    print("true")
else:
    print("false")

false
true

### Elif Statements

In [71]:
num = 1

if num == 9:
    print("Nine")
elif num > 9:
    print("number if bigger then nine")
else:
    print("Number is smaller then nine")

Number is smaller then nine

### Else Statements

In [72]:
num = 12

if num == 20:
    print(num)
else:
    print(num,"is not 20")

12 is not 20

### String Manipulation

#### .lstrip()

In [73]:
name = " dharti patel"
print(name)

print(name.lstrip())

 dharti patel
dharti patel

#### .rstrip()

In [74]:
name = "dharti patel         "
print(name)

print(name.rstrip())

dharti patel
dharti patel

#### .strip()

In [75]:
name = "   dharti  patel  "
print(name)

print(name.strip())

   dharti  patel
dharti  patel

#### .title()

In [76]:
name = "dharti patel"
print(name)

print(name.title())

dharti patel
Dharti Patel

#### .upper()

In [77]:
name = "dharti patel"
print(name)

print(name.upper())

dharti patel
DHARTI PATEL

#### .lower()

In [78]:
name = "dhaRti Patel"
print(name)

print(name.lower())

dhaRti Patel
dharti patel

### String Exercise

Have a user input a name. Return the name with all white space removed and each first letter capitalized.

In [79]:
name = input("Enter your name:")
name1 = name.strip()

print("your name is",name1.title())

Enter your name:       dharti  patel
your name is Dharti  Patel

### Built-In Functions

##### len()

In [80]:
name = input("Enter your name: ")

print("Your name has ",len(name),"letters.")

Enter your name: dharti patel
Your name has  12 letters.

##### help()

In [82]:
help(isinstance)
help(abs)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

##### isinstance()

In [90]:
name = "Dharti"

print(isinstance(name,int))
print(isinstance(name,str))

if isinstance(name,int):
    print("Its float")
elif isinstance(name,int):
    print("Its integer")
else:
    print("String")

False

TypeError: isinstance() arg 2 must be a type or tuple of types

##### abs()

In [89]:
print(abs(-7))
print(abs(15))
print(abs(10-5))

7
15
5

### Try and Except

In [93]:
try:
    age = int(input("how old are you:"))
    print(f"HAppy Birthday you were {age} and you are {age + 1}")
except:
        print("Please enter the number, not text")

how old are you:32
HAppy Birthday you were 32 and you are 33

## Exercise #1 <br>
<p>Accept two user ages as inputs and give us the difference between them. (The Answer should always be a positive output)</p>

In [96]:
age1 = int(input("Enter the age of first person:"))
age2 = int(input("Enter the age of secong person"))

diffe = abs(age1-age2)

print("The difference between both person is",diffe)

Enter the age of first person:20
Enter the age of secong person12
The difference between both person is 8

## Exercise #2 
<p>Accept 3 user inputs for variables named noun, verb and adjective. Print out a formatted string using the outputs.</p>

In [98]:
noun = input("Enter any noun string:")
verb = input("Enter any verb string:")
adjective = input("Enter any adjective string:")

print(f"The formatted string is: {noun} {verb} {adjective}")

Enter any noun string:dharti
Enter any verb string:patel
Enter any adjective string:software
The formatted string is: dharti patel software

## Exercise #3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [102]:
age = int(input("Enter the age:"))

if age < 18:
    print("You are a kids")
elif age >= 18 and age <= 65:
    print("You are adult")
else:
    print("You are seniors")

Enter the age:69
You are seniors

## Exercise #4
<p>Take in a number from a user input output the number squared.</p>

In [104]:
num = int(input("Enter the number:"))

print("Square of your number is",num**2)

Enter the number:3
Square of your number is 9

## Exercise #5
<p>Check the below variables' length. If the length of the word is greater than 5 output True, if it is less than 5, output False<p>

In [105]:
word1 = "panini"
word2 = "bulbasaur"
word3 = "pie"
word4 = "dolphin"
word5 = "dog"

if len(word1) <=5:
    print("False")
else:
    print("True")

if len(word2) <=5:
    print("False")
else:
    print("True")

if len(word3) <=5:
    print("False")
else:
    print("True")

if len(word4) <=5:
    print("False")
else:
    print("True")

if len(word5) <=5:
    print("False")
else:
    print("True")

True
True
False
True
False